@model IEnumerable<LogisticHelper.Models.Simc>

@{
    ViewData["Title"] = "DetailsAsync";
}

<h1>DetailsAsync</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WOJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RODZ_GMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAZWA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SYM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SYMPOD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STAN_NA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WOJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RODZ_GMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZWA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SYM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SYMPOD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STAN_NA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
