@{
    ViewData["Title"] = "Search";
}
<div id = "koza" style = "width:100px; height:100px;">
    </div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">


        @foreach(var obj in Model)
        {
         
                <p> Województwo:  @obj.Wojewodztwo
           

                     Powiat:  @obj.Powiat
            
                
                    Gmina: @obj.Gmina
                    Miejsowość: @obj.Nazwa

                    @*Button which will allow user choose village for showing on map, now just create this shit....

                    God Im awesome...
                    *@
                    <div class = "w-75 btn-group" role = "group">
                        <a asp-controller = "Simc" asp-action ="Details"  asp-route-symbol="@obj.Symbol" asp-route-wojewodztwo = "@obj.Wojewodztwo" class = "btn btn-primary">
                            <i class="bi bi-pen"></i> Wybierz</a>
                    </div>

                    <div class = "w-75 btn-group" role = "group">
                        <a href = 'https://www.google.com/maps/search/+"@obj.Wojewodztwo"+"@obj.Powiat"+"@obj.Nazwa"'>
                            <i class="bi bi-pen"></i> Google</a>
                    </div>
                    </p>
        }

 @*       
table class="table table-bordered table-stripped" style= "width:100%;">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
                LAST_NAME
            </th>
               <th>
               NAME
            </th>
            <th>
                Data Urodzenia
            </th>
               <th>
               Mail
            </th>
            <th>
                PHONE
            </th>
            <th>
                Edit
            </th>
              <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @{
        var Modell = ViewData["streets"];
        }
        Loop to get data from database
        @foreach(var obj in Modell)
        {
            <tr>
                <td width= "10%">
                    @obj.WOJ
                </td>

                <td width= "10%">
                    @obj.POW
                </td>
            
            
                <td width= "10%">
                    @obj.GMI

                </td>
                 <td width= "10%">
                    @obj.STAN_NA

                </td>
          </tr>
        }
    </tbody>


</table>
       

<form>
  <div class="form-group">
    <label for="GMIFORM">Podaj Gminę</label>
    <input type="text" class="form-control" id="GMI" placeholder="Podaj Gminę">

  </div>
  <div class="form-group">
    <label for="POW">Jaki Powiat</label>
    <input type="text" class="form-control" id="POW" placeholder="POW">
  </div>
 
  <button type="submit" class="btn btn-primary">Szukaj</button>
</form>*@

