@{
    ViewData["Title"] = "Teryt";
}
        <label>Wyszukaj Miejscowość</label>
           @* <input asp-for = "" class = "form-control"/>
            <span asp-validation-for="LAST_NAME" class= "text-danger"></span>
            *@

            <a asp-controller="Teryt" asp-action="Search" class = "btn btn-primary" style = "width:150px">Szukaj lokalizacji</a>
@*Show me voivodeships*@
@*<table class="table table-bordered table-stripped" style= "width:100%;">*@
    @*<thead>
        <tr>
            <th>
               WOJ
            </th>
            <th>
                POW
            </th>
               <th>
               GMI
            </th>
            <th>
                RODZAJ
            </th>
               <th>
               NAZWA
            </th>
            <th>
              STAN_NA

            </th>
            <th>
                Edit
            </th>
              <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @*Loop to get data from database*@
    @*    @foreach(var obj in Model)
        {
            <tr>
                <td width= "10%">
                    @obj.WOJ
                </td>

                <td width= "10%">
                    @obj.POW
                </td>
            
            
                <td width= "10%">
                    @obj.GMI

                </td>
                <td width= "20%">
                    @obj.RODZ
                </td>
            
            
                <td width= "20%">
                    @obj.NAZWA

                </td>
                  <td width= "10%">
                    @obj.STAN_NA

                </td>
               
          </tr>
        }
    </tbody>

</table>*@